body {
    background-color: #f2f9ff;
}

form {
    margin-top: 20px;
}

form input {
    margin-top: 10px;
}

form img {
    width: 200px;
    margin-bottom: 40px;
}

.product-image {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

.card {
    margin-top: 40px;
    padding: 5px;
}

.texts {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-weight: bold;
}

.card a{
    margin-top: 5px;
}

.cancel {
    margin-top: 10px;
}
